p.dotted{
    border-style: dotted;
    border-width: medium;
    border-color: red;

}
p.dashed{
    border-style: dashed;
    border-width: thick;
    border-color: blue;



}
p.solid{
    border-style: solid;
    border-width: 2px;
    border-color:brown;
    border-radius: 5px;


}
p.double{
    border-style: double;
    border-width: 1cm;
    border-color:yellowgreen;


}
p.groove{
    border-style: groove;
    border-width: thin;
    border-color: slateblue;


}
div.dashed{
    border-style: dashed;
    border-width: initial;
    border-color: darkgoldenrod;


}
