p.dotted{
    border-style: dotted;

}
p.dashed{
    border-style: dashed;

}
p.dotted{
    border-style: solid;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}
